<footer class="main-footer">
    <div class="main-footer__layout">
        <div class="main-footer__items">
            <div class="main-footer__item">  500.000+  developers<br>  work with our services</div>
            <div class="main-footer__item">  1 billion+ weather forecasts<br>  we produce daily</div>
            <div class="main-footer__item">  500+ Gb of satellite data<br>  we process daily</div>
        </div>
        <div class="main-footer__items">
            <div class="main-footer__copyright">Powered by OpenWeatherMap, Inc</div>
            <div class="main-footer__contacts"><span class="main-footer__contact">Contact us</span><span class="main-footer__contact">Terms of use</span><span class="main-footer__socials"><a href="https://www.linkedin.com/company/9816754" class="icon-social icon-social__in"><img src="img/icon-in.png" width="32" height="32" alt="instagram"></a><a href="https://www.facebook.com/groups/270748973021342" class="icon-social icon-social__fb"><img src="img/icon-fb.png" width="32" height="32" alt="facebook"></a></span></div>
        </div>
    </div>
</footer>