<button id="add-marker" class="btn btn-default on-map" [class.btn-primary]="editing"
        title="Add markers by clicking on the map" (click)="toggleEditing()" btnCheckbox>
    <i class="fa fa-map-marker"></i>
</button>

<button id="remove-marker" class="btn btn-default on-map" [class.btn-primary]="removing"
        title="Remove markers by clicking on them" (click)="toggleRemoving()" btnCheckbox>
    <i class="fa fa-trash"></i>
</button>

<button id="toggle-layer" class="btn btn-default on-map" [class.btn-primary]="airportLayerAdded"
        title="Toggle the airport layer" (click)="toggleAirPortLayer()" btnCheckbox>
    <i class="fa fa-plane"></i>
</button>
