<nav class="navbar nav-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" scroll-to="welcome" offset="50"><span>Angular2-Leaflet-Starter</span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="https://github.com/haoliangyu/angular2-leaflet-starter" target="_blank">GitHub</a></li>
        </ul>
    </div>
</nav>

<div id="map">
    <navigator></navigator>
    <marker></marker>
</div>
