#map-navigator {
  margin: 20px 0 0 20px;
  width: 460px;
  height: 35px;
  background-color: white;
  padding: 5px;
}

#address-input {
  width: 350px;
}

.element-row {
  display: flex;
  justify-content:flex-start;
}

.active {
  color: #3f51b5;
}

.inactive {
  color: rgba(0, 0, 0, 0.26);
}
