<div id="map-navigator" class="box-frame on-map element-row">
  <form>
    <mat-form-field id="address-input">
      <input #addressInput matInput placeholder="Address" [value]="address" type="text">
    </mat-form-field>
  </form>
  <div class="element-row">
    <button mat-icon-button
            color="primary"
            matTooltip="go to address"
            (click)="goto(addressInput.value)">
      <mat-icon>near_me</mat-icon>
    </button>
    <button mat-icon-button matTooltip="toggle on/off marker editing">
      <mat-icon>pin_drop</mat-icon>
    </button>
    <button mat-icon-button matTooltip="togglee on/off vector tile layer">
      <mat-icon>flight</mat-icon>
    </button>
  </div>
</div>
